@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  body,
  html {
    @apply h-full;
  }

  .background {
    @apply -z-10 bg-main dark:bg-main-dark bg-repeat-y;
    min-height: calc(100vh - 4rem);
  }

  .landingpage {
    @apply w-full flex justify-center items-center h-full;
    min-height: calc(100vh - 4rem);
  }

  .landingpage__quote__container {
    @apply w-1/2 h-48 backdrop-blur-md flex justify-center items-center flex-col border-black dark:border-white border-2 rounded-md;
  }

  .landingpage__quote {
    @apply text-2xl font-semibold text-black dark:text-white;
  }

  .navigation {
    @apply w-full h-16 flex justify-between items-center px-8 dark:bg-black bg-white shadow-md;
  }

  .navigation__title {
    @apply text-2xl font-bold dark:text-white text-black;
  }

  .navigation__links {
    @apply flex items-center gap-6;
  }

  .navigation__link {
    @apply text-base dark:text-white text-black;
  }

  .navigation__link.active {
    @apply text-base dark:text-white text-black border-b-2 border-black dark:border-white;
  }

  .navigation__link:hover {
    @apply text-base dark:text-white text-black border-b-2 border-black dark:border-white;
  }

  .navigation__link__button {
    @apply px-6 py-2 rounded-sm dark:bg-black dark:text-white bg-white text-black border-2 dark:border-white border-black;
  }

  .navigation__link__button:hover {
    @apply px-6 py-2 rounded-sm dark:bg-white dark:text-black bg-black text-white border-2 dark:border-black border-white;
  }

  .navigation__link__button.active {
    @apply px-6 py-2 rounded-sm dark:bg-white dark:text-black bg-black text-white border-2 dark:border-black border-white;
  }
  .not-found {
    @apply absolute top-0 bottom-0 left-0 right-0 flex justify-center items-center flex-col bg-white dark:bg-black;
  }

  .not-found > .not-found__title {
    @apply text-[212px] font-extrabold text-black dark:text-white bg-clip-text bg-main dark:bg-main-dark text-stroke dark:text-stroke-dark;
  }

  .not-found > .not-found__error {
    @apply text-4xl font-bold px-4 py-2 text-black dark:text-white;
  }

  .not-found > .not-found__message {
    @apply text-2xl font-semibold px-4 py-2 text-black dark:text-white;
  }

  .input__container {
    @apply w-full h-full flex flex-col;
  }

  .input__container > .input__label {
    @apply text-black dark:text-white text-2xl font-semibold;
  }

  .input__container > .input__input {
    @apply w-full h-full rounded-md border-2 border-black dark:border-white text-black dark:text-white text-2xl font-semibold bg-transparent px-4;
  }

  .contactForm {
    @apply w-full flex flex-row h-full;
  }

  .contactForm > .contactForm__left {
    @apply w-1/2 h-full flex flex-col justify-center items-center px-2;
  }

  .contactForm > .contactForm__right {
    @apply w-1/2 flex flex-col justify-center items-stretch px-2 gap-4;
  }

  .contactForm > .contactForm__right > .input__container {
    @apply flex-grow;
  }

  .contactForm > .contactForm__right > .contactForm__button {
    @apply h-2/5 border-2 rounded-md bg-white dark:bg-black text-lg;
  }

  .contact {
    @apply w-full flex flex-col items-center gap-16 h-full py-16;
  }

  .contact > .contact__title {
    @apply text-4xl font-bold text-black dark:text-white bg-white/50 dark:bg-black/50 backdrop-blur-md rounded-md px-8 py-4 w-1/2 text-center;
  }

  .contact > .contact__form {
    @apply w-2/3 h-1/2 flex flex-col justify-center items-center backdrop-blur-md p-4 border border-black dark:border-white rounded bg-white/50 dark:bg-black/50;
  }

  .offerCard {
    @apply flex flex-col h-full items-center gap-16 border rounded-md border-black dark:border-white py-8 px-12 w-1/3 backdrop-blur-md;
  }

  .offerCard__head {
    @apply flex flex-col items-center gap-4;
  }

  .offerCard__head > .offerCard__circle {
    @apply w-16 h-16 bg-black dark:bg-white rounded-full;
  }

  .offerCard__head > .offerCard__title {
    @apply text-xl font-semibold text-black dark:text-white;
  }

  .offerCard__head > .offerCard__subtitle {
    @apply text-lg text-black dark:text-white;
  }

  .offerCard__body {
    @apply flex flex-col items-center gap-4;
  }

  .offerCard__body > .offerCard__feature {
    @apply text-lg text-black/50 dark:text-white/50 text-center;
  }

  .offerCard__footer {
    @apply flex flex-col items-center;
  }

  .offerCard__footer > .offerCard__button {
    @apply px-6 py-2 rounded-sm dark:bg-black dark:text-white bg-white text-black border-2 dark:border-white border-black w-full;
  }

  .offers {
    @apply w-full flex flex-col items-center gap-8 py-12;
  }

  .offers__title {
    @apply text-5xl font-semibold text-black dark:text-white w-1/2 bg-white/50 dark:bg-black/50 py-4 px-8 text-center backdrop-blur-md rounded;
  }

  .offers__cards {
    @apply w-3/5 flex flex-row justify-center items-center gap-8;
  }

  .about {
    @apply w-full flex flex-col items-center gap-16 min-h-full py-16 pb-10;
  }

  .about > .about__title {
    @apply text-4xl font-bold text-black dark:text-white bg-white/50 dark:bg-black/50 backdrop-blur-md rounded-md px-8 py-4 w-1/2 text-center;
  }

  .about > .about__section {
    @apply w-1/2 px-8 py-4 bg-white/50 dark:bg-black/50 backdrop-blur-md rounded-md;
  }

  .about > .about__section:nth-child(odd) {
    @apply text-right;
  }

  .about > .about__section > .about__section__title {
    @apply text-2xl font-semibold text-black dark:text-white;
  }

  .about > .about__section > .about__section__text {
    @apply text-lg text-black dark:text-white;
  }

  .work {
    @apply w-full flex flex-col items-center gap-16 min-h-full py-16 pb-10;
  }

  .work > .work__title {
    @apply text-4xl font-bold text-black dark:text-white bg-white/50 dark:bg-black/50 backdrop-blur-md rounded-md px-8 py-4 w-1/2 text-center;
  }

  .work > .work__section {
    @apply w-1/2 px-8 py-8 bg-white/50 dark:bg-black/50 backdrop-blur-md rounded-md;
  }

  .work > .work__section > .work__gallery {
    @apply w-full flex justify-center items-center relative;
  }

  .work
    > .work__section
    > .work__gallery
    > .work__gallery__buttons
    > .work__gallery__button__left {
    @apply absolute top-0 bottom-0 left-0 w-6 flex justify-center items-center font-bold bg-white/50 dark:bg-black/50 backdrop-blur-md;
  }

  .work
    > .work__section
    > .work__gallery
    > .work__gallery__buttons
    > .work__gallery__button__right {
    @apply absolute top-0 bottom-0 right-0 w-6 flex justify-center items-center font-bold bg-white/50 dark:bg-black/50 backdrop-blur-md;
  }

  .work
    > .work__section
    > .work__gallery
    > .work__gallery__item
    > .work__gallery__image__text {
    @apply absolute bottom-0 left-6 right-6 opacity-0 transition-all duration-300 ease-in-out text-center bg-white/50 dark:bg-black/50 backdrop-blur-md;
  }

  .work
    > .work__section
    > .work__gallery
    > .work__gallery__item:hover
    > .work__gallery__image__text {
    @apply opacity-100;
  }

  .work
    > .work__section
    > .work__gallery
    > .work__gallery__item
    > .work__gallery__image {
    @apply bg-black dark:bg-white relative;
  }

  .footer {
    @apply w-full flex flex-row items-center justify-between py-4 px-12;
  }

  .footer > .footer__title {
    @apply text-2xl font-bold text-black dark:text-white;
  }

  .footer > .footer__links {
    @apply flex flex-row items-start gap-4;
  }

  .footer > .footer__links > .footer__link {
    @apply border-l-2;
  }

  .footer > .footer__links > a {
    @apply text-black dark:text-white px-8;
  }
}
