@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  body,
  html {
    @apply h-full;
  }

  .not-found {
    @apply absolute top-0 bottom-0 left-0 right-0 flex justify-center items-center flex-col bg-white dark:bg-black;
  }

  .not-found > .not-found__title {
    @apply text-[212px] font-extrabold text-black dark:text-white bg-clip-text bg-main dark:bg-main-dark text-stroke dark:text-stroke-dark;
  }

  .not-found > .not-found__error {
    @apply text-4xl font-bold px-4 py-2 text-black dark:text-white;
  }

  .not-found > .not-found__message {
    @apply text-2xl font-semibold px-4 py-2 text-black dark:text-white;
  }
}
