@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  body,
  html {
    @apply h-full;
  }

  .background {
    @apply absolute top-16 left-0 right-0 bottom-0 -z-10 bg-main dark:bg-main-dark;
  }

  .navigation {
    @apply w-full h-16 flex justify-between items-center px-8 dark:bg-black bg-white shadow-md;
  }

  .navigation__title {
    @apply text-2xl font-bold dark:text-white text-black;
  }

  .navigation__links {
    @apply flex items-center gap-6;
  }

  .navigation__link {
    @apply text-base dark:text-white text-black;
  }

  .navigation__link.active {
    @apply text-base dark:text-white text-black border-b-2 border-black dark:border-white;
  }

  .navigation__link:hover {
    @apply text-base dark:text-white text-black border-b-2 border-black dark:border-white;
  }

  .navigation__link__button {
    @apply px-6 py-2 rounded-sm dark:bg-black dark:text-white bg-white text-black border-2 dark:border-white border-black;
  }

  .navigation__link__button:hover {
    @apply px-6 py-2 rounded-sm dark:bg-white dark:text-black bg-black text-white border-2 dark:border-black border-white;
  }

  .navigation__link__button.active {
    @apply px-6 py-2 rounded-sm dark:bg-white dark:text-black bg-black text-white border-2 dark:border-black border-white;
  }
}
